[include]
    path = ~/.gitconfig.local # points to user block
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
[init]
    defaultBranch = main
[alias]
    st = status
